{% extends 'base.html' %}
{% block content %}

<h2>Wine Details</h2>

<p><a href="{% url 'wines' %}" class="btn"><i>back</i></a></p>

    <dl>
    <dt>Wine Name:</dt>
    <dd>{{ wines.wine_name }}</dd>

    <dt>Wine Type:</dt>
    <dd>{{ wines.wine_type }}</dd>

    <dt>Country:</dt>
    <dd>{{ wine.country }}</dd>

    <dt>Region:</dt>
    <dd>{{ wines.region }}</dd>

    <dt>Vintage:</dt>
    <dd>{{ wines.vintage }}</dd>

    <dt>Description:</dt>
    <dd>{{ wines.description }}</dd>
    </dl>

{% endblock %} 